/* GENERAL */
body {
  background-color: #FAFAFA;
}

md-item-content:hover {
  background-color: #EEEEEE;
}

.glyphicon-heart {
  font-size: 0.9em;
}

.likes {
  margin-top: 4px;
}

.loading_circle {
  margin-top: -35%;
}

.loading {
  height:100vh;
}

/* HEADER */
md-toolbar.md-default-theme {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
.navbar-brand {
  padding-left: 3%;
  padding-top: 8px;
}

/* SEARCH */
.search {
  padding: 1%;
}
md-input-group.md-default-theme input, md-input-group.md-default-theme textarea {
  width: 100%;
  font-size: 5em;
}

.modal-dialog {
  margin-top: 30px;
}

md-tooltip {
  z-index: 100000;
}

.modal .modal-body {
  max-height: 420px;
  overflow-y: auto;
}

/* BOTTOM MENU */
md-tab {
  border: 0;
}

md-tabs.md-default-theme .md-header {
  background-color: #F44336;
}

md-tabs.md-default-theme md-tabs-ink-bar {
  color: #FFEBEE;
  background: #FFEBEE;
}

md-tabs.md-default-theme md-tab {
  color: #FFEBEE;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
}

/* PAGE ANIMATIONS */
.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}

/* STARRED */



