/* GENERAL */
body {
  background-color: #FAFAFA;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

md-item-content:active {
  background-color: #EEEEEE;
}

.glyphicon-heart {
  font-size: 0.9em;
}

.likes {
  margin-top: 4px;
}

.loading_circle {
  margin-top: -35%;
}

.loading {
  height:100vh;
}

/* HEADER */
md-toolbar.md-default-theme {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
.navbar-brand {
  padding-left: 3%;
  padding-top: 8px;
}

/* SEARCH */
.search {
  padding: 1%;
}
md-input-group.md-default-theme input, md-input-group.md-default-theme textarea {
  width: 100%;
  font-size: 5em;
}

.modal-dialog {
  margin-top: 30px;
}

md-tooltip {
  z-index: 100000;
}

.modal .modal-body {
  max-height: 420px;
  overflow-y: auto;
}


md-bottom-sheet.md-default-theme, md-toast {
  z-index: 10000;
}


/* BOTTOM MENU */
md-tab {
  border: 0;
}

md-tabs.md-default-theme .md-header {
  background-color: #F44336;
}

md-tabs.md-default-theme md-tabs-ink-bar {
  color: #FFEBEE;
  background: #FFEBEE;
}

md-tabs.md-default-theme md-tab {
  color: #FFEBEE;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
}

/* STARRED */
#starred, #profile, #player {
  margin-bottom: 48px;
}





