<!-- Navigation Bar -->
<md-toolbar  md-scroll-shrink layout="row" layout-align="center center">
  <div class="md-toolbar-tools">
    <div flex="90">
      <a class="navbar-brand" href="#/" flex>
        <img alt="Brand" src="../images/turtle.png">
      </a>
    </div>
    <div flex class="likes">
      <span class="glyphicon glyphicon-search" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg"></span>
    </div>
  </div>
</md-toolbar>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" ng-controller="SearchCtrl">
      <md-content class="search">
        <form>
          <div class="colum">
            <md-text-float ng-model="query" ng-keyup="search()"></md-text-float>
            <md-list>
              <md-item ng-repeat="result in results" ng-animate="'animate'">
                <md-item-content>
                  <div  layout="row" flex="20" layout-align="center">
                    <img ng-src="{{result.album.images[2].url}}" alt="{{result.artists[0].name}}">
                  </div>
                  <div class="md-tile-content">
                    <h3>{{result.name}}</h3>
                    <h4>{{result.artists[0].name}}</h4>
                  </div>
                  <div flex="10" layout-align="center">
                    <span class="glyphicon glyphicon-plus"></span>
                    <md-tooltip>
                      Add to list
                    </md-tooltip>
                  </div>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
              </md-item>
            </md-list>
          </div>
        </form>
      </md-content>
    </div>
  </div>
</div>
